{% extends 'base.html.twig' %}

{% block title %}Laoka vaovao{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="container d-flex justify-content-center mt-4">
        <div class="text-center">
            <div class="align-self-start d-flex">
                <a class="text-decoration-none btn text-primary" onclick="history.go(-1)" cursor="pointer">
                    <i class="fas fa-chevron-left fa-sm me-2"></i>Hiverina
                </a>
            </div>
            <h1 class="mb-4">Hanampy laoka vaovao</h1>

            {{ form_start(form) }}

                <div class="row form-group mb-3">
                    <div class="col-xxl-12 d-flex align-self-start mb-2">
                        {{ form_label(form.name, "Anaran'ny laoka") }}
                    </div>
                    <div class="col-xxl-12">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': "Ampidiro ny anaran'ny laoka"}}) }}
                    </div>
                </div>
                <div class="row form-group mb-3">
                    <div class="col-xxl-12 d-flex align-self-start mb-2">
                        {{ form_label(form.day, "Andro", ) }}
                    </div>
                    <div class="col-xxl-12">
                        {{ form_widget(form.day, {'attr': {'class': 'form-select', 'style': 'cursor: pointer'}}) }}
                    </div>
                </div>
                <div class="row form-group mb-3">
                    <div class="col-xxl-12 d-flex align-self-start mb-2">
                        {{ form_label(form.recipe, "Recette (Tsy voatery asiana)", ) }}
                    </div>
                    <div class="col-xxl-12">
                        {{ form_widget(form.recipe, {'attr': {'class': 'editor form-control', 'style':'height: 150px', 'placeholder': 'Ny fomba fikarakarana'}}) }}
                    </div>
                </div>

                <button class="btn btn-primary form-control" type="submit">Vita</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}

